@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex {
  display: flex;
}
.navbar,
.banner,
.teams,
.facts,
.sponsors,
.features {
  max-width: 1440px;
  margin: 0 auto;
}
.text-primary {
  color: #ff900e;
}
.text-dark {
  color: #131313;
}
.text-gray {
  color: #424242;
}
.text-gray-light {
  color: #727272;
}
.bg-light {
  background-color: rgb(255, 144, 14, 10%);
}
main > section {
  padding-top: 130px;
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
/* Shared styles */

/* Header styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.banner {
  margin-top: 100px;
}
.brand {
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-links {
  list-style: none;
}
.nav-item {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
}
.nav-link {
  text-decoration: none;
}
.banner-content {
  max-width: 865px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  font-size: 16px;
  line-height: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.banner-image {
  width: 100%;
}

/* Main section design */
.teams {
  align-items: center;
  /* border: 1px solid black; */
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  max-width: 537px;
  margin-left: 73px;
  border-radius: 8px;
}
.feature-description {
  margin-top: 24px;
  margin-bottom: 32px;
}

#quick-list {
  font-weight: 500;
}

/* Features section styles */
.features {
  gap: 145px;
  /* border: 1px solid #E0E0E0; */
}
#feature-title-border {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  margin-bottom: 24px;
}
.feature-section > p{
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 30px;
}
.feature-card{
  padding: 30px;
}
.feature-card-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature-card-description{
  font-size: 1rem;
  line-height: 26px;
}
.feature-img{
  position: relative;
}
#experience-badge{
  padding: 46px 42px;
  font-size: 1.5rem;
  position: absolute;
  bottom: -100px;
  left: -100px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}


/* Facts section */
.facts-description {
  margin-top: 24px;
  max-width: 542px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7.8rem;
  margin-top: 100px;
}

.fact-card {
  border: 1px solid #ff900e;
  height: 240px;
  width: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}
.fact-number {
  margin-top: 10px;
  font-size: 2.8rem;
  font-weight: 600;
}
.fact-name {
  margin-top: 5px;
  font-size: 1.25rem;
  font-weight: 600;
}

/* Sponsors styles */
.sponsors {
  text-align: center;
}
.sponsor-info {
  max-width: 542px;
  margin: 0 auto;
}
.sponsor-description {
  margin-top: 24px;
  margin-bottom: 50px;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}
.sponsor-companies img {
  filter: grayscale(100%);
}

/* Responsive Media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .our-features {
    margin-left: 20px;
  }
  .fact-card {
    width: 90%;
  }
  .sponsor-companies {
    gap: 40px;
  }
}

/* Medium size devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .our-features {
    margin: 50px auto;
  }
}
